<div>
    <div class="col-4">
        <div class="d-flex flex-column">
            <img src="https://pic.pnnet.dev/800x400" class="card m-2-img-top" alt="...">
            <img src="https://pic.pnnet.dev/800x400" class="card m-2-img-top" alt="...">
            <img src="https://pic.pnnet.dev/800x400" class="card m-2-img-top" alt="...">
        </div>
    </div>
    <div class="col-4">
        <div class="d-flex flex-column">
            <div class="card">
                <img src="https://pic.pnnet.dev/500x250" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Хакатон 20.04.25</h5>
                    <a href="#" class="btn btn-primary">Перейти к событию</a>
                </div>
            </div>
            <div class="card">
                <img src="https://pic.pnnet.dev/500x250" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Хакатон 20.04.25</h5>
                    <a href="#" class="btn btn-primary">Перейти к событию</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="d-flex flex-column">
            <div class="card">
                <img src="https://pic.pnnet.dev/500x250" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Хакатон 20.04.25</h5>
                    <a href="#" class="btn btn-primary">Перейти к событию</a>
                </div>
            </div>
        </div>
    </div>
</div>