<div class="table">

</div>
<div>

    <ul>
        <li><div class="h4">Педагог 1</div> <br> Группа 1 - вторник 13:42, среда 16:42</li>
        <li><div class="h4">Педагог 2</div> <br> Группа 2 - вторник 13:42, среда 16:42</li>
        <li><div class="h4">Педагог 3</div> <br> Группа 3 - вторник 13:42, среда 16:42</li>
        <li><div class="h4">Педагог 4</div> <br> Группа 4 - вторник 13:42, среда 16:42
            <br>Группа 5 - вторник 12:42, среда 18:42</li>

    </ul>
    <a href="/docs/расписание.xlsx" class="btn btn-primary">Скачать таблицу</a>
</div>