<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
<!--    <link href="dist/css/bvi.min.css" rel="stylesheet">-->
</head>
<body>
<a href="#"><img src="/images/up-arrow.svg" height="50px" width="50px" alt="" class="border rounded-circle p-2 m-3 position-fixed bottom-0 end-0"></a>

<div class="container">
    <a id="upLink"></a>
    <nav class="shadow-sm navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/it-cube-logo.svg" height="80px" width="80px" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">О центре</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/news">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/programs">Направления и программы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/documentation">Документы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/teachers">Педагоги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/timetable">Расписание</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/photos">Фотоальбом</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}

    <footer class="m-3 p-3 border-top border-2">
        <div class="row">
            <div class="col-4">
                <img src="/images/it-cube-logo.svg" width="80%" alt="">
            </div>
            <div class="col-4">
                <strong>Навигация:</strong>
                <br>
                <a href="/">О нас</a>
                <br>
                <a href="/news">Новости</a>
                <br>
                <a href="/programs">Направления и программы</a>
                <br>
                <a href="/documentation">Документы</a>
                <br>
                <a href="/teachers">Педагоги</a>
                <br>
                <a href="/timetable">Расписание</a>
                <br>
                <br>
                <a href="/photos">Фотоальбом</a>
                <br>
                <a href="/contacts">Контакты</a>
            </div>
            <div class="col-4">
                <strong>Контактная информация:</strong>
                <br>
                <a href="tel:+7(473)253-07-40">+7(473)253-07-40</a>
                <br>
                проспект Революции, 20, Воронеж
                <br>
                <a href="https://vk.com/it_vgpgk"><img src="/images/vk.png" class="rounded-circle m-1" width="50px" height="50px"></a>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--<script src="/dist/js/bvi.min.js"></script>-->
<!--<script>-->
<!--    new isvek.Bvi();-->
<!--</script>-->
</body>
</html>
