<div class="row">
    <div class="h1 pt-2 pb-2">О центре</div>
    <div class="row">
        <div class="col-7 pt-2 pb-2" style="text-align: justify">
            <p style="text-align: justify"> <strong>(переписать)</strong> Центр цифрового образования детей «IT-куб» на базе ГБПОУ ВО «ВГПГК имени В.М. Пескова» создан в 2023 году в
                рамках федерального проекта «Цифровая образовательная среда» национального проекта «Образование».</p>
            <p style="text-align: justify">Он призван обеспечить освоение детьми актуальных и востребованных знаний, навыков и компетенций в сфере
                информационно-телекоммуникационных технологий, а также создание условий для выявления, поддержки и развития у
                детей способностей и талантов, их профориентации, развития математической, информационной грамотности,
                формирования критического и креативного мышления.</p>
        </div>
        <div class="col-5">
            <img class="float-end img-fluid" src="https://pic.pnnet.dev/1920x1080" alt="16x9">
        </div>
    </div>
    <div class="col-6 d-flex flex-column justify-content-evenly " style="background-image: url('/images/lines-dots-left.svg'); background-position: -25% 75%;">
        <div class="h3">Наши направления:</div>
        {{#each programs}}
            <a href="{{#if ../admin}}/admin{{/if}}/programs?about={{src}}" class="col-10 btn btn-primary border rounded p-3 shadow-sm">{{title}}</a>
        {{/each}}
    </div>
    <div class="col-6 pt-3">
        <div class="border rounded p-2">
            <strong>(переписать)</strong>
            Центр цифрового образования детей «IT-куб» является частью образовательной среды образовательной
            организации, на
            базе которой осуществляется:

            <ul class="list-group list-group-flush">
                <li class="list-group-item">• реализация дополнительных общеобразовательных программ цифрового образования
                    для детей различного
                    возраста;
                </li>
                <li class="list-group-item">• профориентационная и просветительская деятельность с детьми и взрослыми по
                    цифровой грамотности и
                    информационной безопасности;
                </li>
                <li class="list-group-item">• организация образовательных мероприятий для детей и педагогов, в том числе
                    из других образовательных
                    организаций;
                </li>
                <li class="list-group-item">• организация проектной деятельности, в том числе в дистанционном формате, для
                    обучающихся общеобразовательных
                    организаций, на базе которых созданы центры «Точка роста» и детские технопарки «Кванториум»;
                </li>
                <li class="list-group-item">• организация конкурсов, олимпиад, хакатонов по цифровым технологиям,
                    информатике, программированию;
                </li>
                <li class="list-group-item">• методическая поддержка общеобразовательных организаций в части
                    совершенствования подходов к преподаванию
                    учебных предметов «Математика» и «Технология».
                </li>
            </ul>
        </div>
        <div class="pt-3">
            Центры цифрового образования детей «IT-куб» создаются при поддержке <a href="https://edu.gov.ru/">Министерства
            просвещения Российской Федерации</a>
            <br>
            Федеральный оператор: <a href="https://ficto.ru/">ФГАУ «Федеральный институт цифровой
            трансформации в сфере образования»</a>
            <br>
            Региональным координатором мероприятий по созданию центров цифрового образования детей «IT-куб» является
            <a href="http://viro36.ru/">ГБУ ДПО ВО «Институт развития образования имени Н.Ф.Бунакова»</a>
            <br>
            <a href="https://edu.gov.ru/national-project/">Информация о национальном проекте «Образование»</a>
        </div>
    </div>
</div>
