<div class="row">
    <h2 class="mt-2 mb-2">Контакты (обратная связь, социальные сети)</h2>
    <div class="col-5">
        <p>
            Администратор
            <br>
            Аксенова Анастасия Александровна
            <br>
            <strong>Контактный телефон:</strong> <a href="tel:+79805595138">+7 (980) 559-51-38</a>
        </p>
        
        <p>
            Директор ЦЦОД "IT-куб"
            <br>
            Овсянникова Александра Евгеньевна
            <br>
            <strong>Контактный телефон:</strong> <a href="tel:+74732530740">+7 (473) 253-07-40</a> (приемная)

        </p>
        
        <p>
            <strong>Электронная почта:</strong> <a href="mailto:ITkub.vgpgk.vrn@mail.ru">ITkub.vgpgk.vrn@mail.ru</a>
        </p>
        
        <p>
            <strong>Сообщество ВКонтакте:</strong> <a href="https://vk.com/it_vgpgk">https://vk.com/it_vgpgk</a>
            <img src="/images/vk-qr.jpg" height="200px" width="200px" alt="">
        </p>
    </div>
</div>

