<div class="row d-flex flex-column align-items-center">
    <div class="col-11 d-flex flex-column align-items-center">
        {{#each teachers}}
        <div class="card col-11 p-3 mt-4">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <img src="{{image}}" alt="">
                    <div class="ms-2 d-flex flex-column justify-content-center">
                        <div class="card-title h4 fs-3 mb-3">{{fullName}}</div>
                        <div class="card-text fs-4 mt-3">{{{aboutTeacher}}}</div>
                        <a class="btn btn-danger" href="/teachers/delete/{{fullName}}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<hr>

<form class="form" action="/teachers/create" method="post" enctype="multipart/form-data">
    <div class="input-group mb-2">
        <label class="input-group-text" for="image">Фото</label>
        <input class="form-control" required type="file" accept="image/*" name="image" id="image">
    </div>
    
    <input class="mb-2 form-control" required type="text" name="name" placeholder="ФИО*">
    <input class="mb-2 form-control" required type="text" name="description" placeholder="Описание*">
    <button class="btn btn-primary" type="submit">Добавить</button>
</form>